nav {
    background-color: white;
    box-shadow: 0 10px 10px -10px rgb(196, 195, 195);
}

.nav-header {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    background-color: transparent;
    border: none;
    color: rgb(73, 166, 233);
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s linear;
}

.nav-toggle:hover {
    color: rgb(6, 50, 81);
    transform: rotate(90deg);
}

.links {
    list-style-type: none;
    padding-left: 0;
}

.links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 15px;
    width: 100%;
    display: block;
}

.links a:hover {
    background-color: rgba(165, 213, 248, 0.3);
    padding: 15px;
    color: rgb(73, 166, 233);
}

.social-icons {
    display: none;
    list-style-type: none;
}

.social-icons a {
    color: rgb(73, 166, 233);
    margin-left: 10px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
    .nav-center {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header img {
        height: 70px;
        margin-top: 10px;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .social-icons {
        display: flex;
        align-items: center;
    }

    .social-icons a {
        font-size: 18px;
    }
}